# Configuração do Supabase (Opcional - caso queira salvar as mensagens dos padrinhos direto no banco de dados do Supabase)
VITE_SUPABASE_URL=https://sua-url-do-supabase.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-key-aqui
